SECRET_KEY=django-insecure-change-me
DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1,web

DB_ENGINE=django.db.backends.postgresql
DB_NAME=weather_db
DB_USER=weather_user
DB_PASSWORD=weather_password
DB_HOST=db
DB_PORT=5432

POSTGRES_DB=weather_db
POSTGRES_USER=weather_user
POSTGRES_PASSWORD=weather_password
POSTGRES_DATA_PATH=./.docker/postgres_data

REDIS_HOST=redis
REDIS_PORT=6379
CELERY_BROKER_URL=redis://redis:6379/0

CSV_DELIMITER=#
STATIC_DATA_PATH=static/csv_data/

YANDEX_LOGIN=
YANDEX_PASSWORD=
YANDEX_API_KEY=
YANDEX_TOKEN=
YANDEX_ID=
