[app]
secret_key=django-insecure-...

[db]
egine=django.db.backends.postgresql
user=postgres
password=your_password
host=127.0.0.1
port=5432
database=database_name

[yandex]
login=
pass=
api_key=
token=
# like id_123...
id=